@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;



.nextVidSection {
    margin: $mobile-margin;
    
    &__nextVidSectionHeader{
        @include section-header($silver-clr);
    }
}

.nextVidSectionDiv {
    display: flex;
    flex-direction: row;

    @include tablet {
        max-width: 40%;
    }

    @include desktop {
        max-width: 20%;    
    }
    
    &__videoImage{
        width: 100px;
        max-width: 100px;
        height: 60px;
        border-radius: 4px;
        background-color: $mercury-clr;
        flex: 1 5%;
        
    }
        
    &__titleChannelDiv {
        flex: 2;
        margin-left: 5%;

        &--videoTitle {
            @include subheader;
            margin: 0;
        }

        &--videoChannel{
            @include body-copy;
            margin-top: 5%;
        }
    }
}

.desktop {

    @include desktop {
        display: flex;
        flex-direction: column;
    }
    &__right {
        @include desktop {
            //max-width: 30%;
            flex: 1 20%;
        }
    }

    &__left {
        @include desktop {
            //max-width: 60%;
            flex: 2 20%;
        }
    }

}