//BrainFlix-Black: Primary text color for dark on light background. Dark background color
$black-clr: #323232;

//BrainFlix-DarkBlack: CTA hover state.
$dark-black-clr: #000000;

//BrainFlix-Blue: Primary CTA color. Active form field outline color.
$blue-clr: #0095FF;

//BrainFlix-DarkBlue: CTA hover state color.
$dark-blue-clr: #0065AD;

//Silver: Secondary text color. Inactive Call To Action text color.
$silver-clr: #AFAFAF;

//Mercury: Divider line. Form field outline.
$mercury-clr: #E1E1E1;

//White: Primary text color for light on dark background. Light background color. Active CTA text color.
$white-text-clr: #FFFFFF;

//Alabaster: Alternative light background color
$off-white-clr: #FAFAFA;

$form-radius: 4px;

$button-padding: 32px;

$mobile-margin: 16px;

@mixin header-heights {
    min-height: 36px;
    max-height: 36px;
}

@mixin header-heights-tablet {
    min-height: 40px;
    max-height: 40px;
}

$header-tablet-margin-right: 2%;
