@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.commentBoxDiv {
    margin: $mobile-margin;
    display: flex;
    flex-direction: column;

    &__numberOfComments{

        &--number {
        border: none;
        }
    }

    &__header {

        &--text{
        @include section-header;
        }
    }

    &__commentSectionForm{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 16px;
        

    }

    &__commentSectionImageDiv {
        display: flex;
        flex-direction: column;
        width: 100px;
    }
}

.commentSectionImageDiv {
    
    
    &__image{
        @include mohan-image;
        width: 20%;
        height: 100%;
    }
}

.commentSectionButton {
    @include buttons;
}