@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.commentBoxDiv {
    margin: $mobile-margin;
    display: flex;
    position: relative;
    

    &__numberOfComments{
        border: none;
        position: absolute;
    }

    &__commentSectionForm{
          
    }

    &__commentSectionImageDiv {
        display: flex;
        flex-direction: column;
        width: 100px;
        

        &--image{
            @include mohan-image;
            width: 100%;
        }
    }

    &__commentForm {
        margin-top: 10%; 

        &--header {
            @include section-header;
            
        }
    }
    
}

.commentForm {
    
    &__commentSectionForm {
        flex-direction: column;

        &--commentSectionInput{
            width: 100%;
        }
        &--commentSectionButton{
            width: 100%;
            @include buttons;
        }
    }

}