@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.postedCommentSection {
    border-bottom: $border;
    margin: 16px;
    display: flex;
    
    @include tablet {
        margin: 32px;
    }

    @include desktop {
        margin-left: $desktop-margin;
        max-width: 60%;
    }

    &__imageDiv{
        width: 20%;

        &--image {
        @include mohan-image;
        background-color: $mercury-clr;
        }
    }

    &__nameDateDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--name{
            margin: 0;
            font-weight: 700;
        }
        &--date{
            margin: 0;
            color: $silver-clr;
        }
    }
    
    &__textDiv {
        padding-left: 16px;
    
        &--textDiv{
            @include fontStyle(13px, 18px, 400);
        }
    }
}


