@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.postedCommentSection {
    border-bottom: $border;
    margin: 16px;

    &__image {
        @include mohan-image;
        width: 20%;
        height: 100%;
        background-color: aqua;
        
    }

    &__nameDateDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    
    &__textDiv {
        margin: 16px 0;
        @include body-copy;
    }
}
