@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.postedCommentSection {
    border-top: $border;
    padding: 16px;
    display: flex;
    
    @include tablet {
        margin: 0 32px 0;

    }

    @include desktop {
        margin-right: 0;
        
    }

    &__imageDiv{
        width: 20%;

        @include tablet {
            width: auto;
            padding-right: $tablet-margin;
        }

        &--image {
        @include mohan-image;
        background-color: $mercury-clr;
            
            @include tablet {
                @include mohan-image-tablet;
            }
        }
    }

    &__nameDateDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: auto;

        &--name{
            margin: 0;
            font-weight: 700;
        }
        &--date{
            margin: 0;
            color: $silver-clr;
        }
    }
    
    &__textDiv {
        padding-left: 16px;

        @include tablet {
            padding-left: 0;

            @include desktop {
                margin-right: $desktop-padding-right;
            }
        }
    
        &--text{
            @include fontStyle(14px, 22px, 400);
        }
    }
}
