@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.description {
    margin: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: $black-clr;

    &__nameDate {
        padding: 16px 0;
    }

    &__viewsLikes {
        border: none;
    }
}

.h2Header {
    @include fontStyle(24px, 32px, 700);
    border-bottom: 2px solid $mercury-clr;
    margin: 0;
    padding-bottom: 16px;
    justify-content: start;

    @include tablet {
        @include fontStyle(33px, 44px, 700);
    }
}

.detailsDiv {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    min-height: 10vh;

    @include tablet {
        justify-content: space-between;
    }
}

.nameDate {
    flex: 1 10%;
    

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__name {
        @include detailsDivMobile;
    }

    &__date {
        margin: 0;
        
    }
}

.viewsLikes {
    flex: 1 10%;
    color: $silver-clr;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    
    &__views {
        @include detailsDivMobile;
    }

    &__likes {
        margin:0;
    }
}

.descriptionDiv {
    border-top: $border;

    &__descriptionText {
        margin: 0;
    }
}