@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.description {
    margin: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: $black-clr;
    
    @include tablet {
        margin: 0 32px;
    }
    
    &__h2Header {
        @include fontStyle(24px, 32px, 700);
        border-bottom: 2px solid $mercury-clr;
        margin: 0;
        padding-bottom: 16px;
        justify-content: start;
    
        @include tablet {
            @include fontStyle(33px, 44px, 700);
            border-bottom: 0;
        }
    }

    &__detailsDiv {
        display: flex;
        flex-direction: row;
    }
}

.detailsDiv {
    margin: 16px 0;
    min-height: 10vh;

    @include tablet {
        justify-content: space-between;
    }

    &__nameDate {
        padding: 16px 0;
        flex: 1 10%;


        @include tablet {
            display: flex;
            flex-direction: row;
        }

        &--name {
            @include detailsDivMobile;
            font-weight: 700;

            @include tablet {
                margin-right: 7%;
            }
        }

        &--date {
            margin: 0;
            
        }
    }

    &__viewsLikes {
        flex: 1 10%;
        color: $silver-clr;
        padding: 16px 0;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
        
        &--views {
            @include detailsDivMobile;
        }

        &--likes {
            margin:0;
            
            @include tablet {
                margin-left: 7%;
            }
        }
    }
}

.descriptionDiv {
    border-top: $border;

    &__descriptionText {
        margin: 0;
    }
}