@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mediaQueries' as *;

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 16px;

    @include tablet {
        flex: 1 0%; 
        flex-flow: row nowrap;
        align-items: center;
        padding: 0;
        margin: 16px 24px;
        justify-content: space-between;
    }

    @include desktop {
        margin: 16px 10%;
    }

    &__logo {
        min-width: 50%;
        max-width: 120px;
        max-height: 25px;
        flex: 1 100%;
        margin: 0 auto;

        @include tablet{
            min-width: auto;
            margin: 0;
            margin-right: 20%;
        }

        @include desktop {
            margin-right: 40%;
        }
    }

    &__input {
        background: url('../../assets/icons/search.svg') no-repeat 4%;
        padding: 0 10%;
        border-radius: 5px;
        min-width: 150px;
        height: 1%;
        min-height: 36px;
        max-height: 36px;
        margin: 4% $mobile-margin 4% 0;
        border: 2px solid $mercury-clr;
        border-radius: $form-radius;
        flex: 2;
        order: 1;
        background-color: $off-white-clr;

        @include tablet {
            @include header-heights-tablet;
            flex-flow: none;
            flex-direction: row;
            margin: 0;
            margin-right: $header-tablet-margin-right;
            min-width: 25%;
            max-width: 25%;
            padding: 0 5%;
        }

        @include desktop {
            min-width: 15%;
            max-width: 5%;
        }
    }

    &__image {
        @include header-heights;
        @include mohan-image;
        display: flex;
        align-self: center;
        flex: 1;
        order: 2;

        @include tablet {
            @include header-heights-tablet;
            flex-flow: none;
            flex-direction: row;
        }
    }

    &__button {
        @include header-heights;
        @include buttons;
        background: url('../../assets/icons/upload.svg') no-repeat 4%;
        background-color: $blue-clr;
        min-width: 96%;
        flex: 1 100%;
        order: 3;
        
        @include tablet {
            @include header-heights-tablet;
            order: 2;
            min-width: 150px;
            max-width: 20%;
            margin-right: $header-tablet-margin-right;
        }
    }
}